# Global / System
.DS_Store
.vscode/
.idea/

# Backend
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.env

# Test Scripts
stress_test.py
test_api.py
test_force_scheduler.py
clear_ghost_orders.py

# Database
*.db
*.sqlite
*.sqlite3
middleware.db

# Local Testing Scripts
test_*.py
*_test.py

# Sensitive & Runtime Data
settings.json
trade_logs.json

# Logs
*.log

# Frontend
node_modules/
dist/
dist-ssr/
*.local

# Frontend Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*