# Global / System
.DS_Store
.vscode/
.idea/

# Backend
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.env

# Sensitive & Runtime Data
settings.json
trade_logs.json

# Logs
*.log

# Frontend
node_modules/
dist/
dist-ssr/
*.local

# Frontend Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*