.logs-card {
  min-height: 600px;
  border: 0;
  border-radius: 1rem;
  background-color: white;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

.col-timestamp {
  width: 180px;
  text-align: left;
}

.col-symbol {
  width: 100px;
  text-align: left;
}

.col-side {
  width: 100px;
  text-align: center;
}

.col-price {
  width: 100px;
  text-align: right;
}

.col-volume {
  width: 100px;
  text-align: right;
}

.col-status {
  width: 150px;
  text-align: center;
}

.col-detail {
  text-align: left;
  padding-left: 20px !important;
  max-width: 250px;
}

.table-row-fixed {
  height: 55px;
}

.cursor-pointer {
  cursor: pointer;
}

.cursor-not-allowed {
  cursor: not-allowed;
}